@import url(reset.css);

.wrapper {
	overflow: clip;
	min-height: 100vh;
	background: #343434;
}
.header {
	background: #343434;
	margin-bottom: 800px;
}
.header__container {
	position: relative;

}
.header__road-back {
	position: absolute;
	top: 100%;
	left: 0%;
	min-width: 100%;
	height: 550px;
	background: #343434;
	perspective: 500px;
	perspective-origin: center;
	transform: rotate3d(1, 1, 1, 260deg);
}
.header__road {
	position: relative;
	width: 100%;
	height: 500px;
	border-top: 50px dashed #fff;
	transform: translate(0px,50%);
}


.header__auto {
	position: relative;
	width: 500px;
	left: 25%;
	top: 25%;
	padding-bottom: 100px;
	transform: translate(150px, 850px);
	transition: all 0.3s ease 0s;
	animation:car-ride 3s infinite linear;
	animation-play-state: paused;
}
.header__auto:hover{
	animation-play-state: running;
}
@keyframes car-ride {
	0% {
		transform: translate(150px, 850px);
	}
	50% {
		transform: translate(250px, 850px);
	}
	100% {
		transform: translate(1150px, 50px);
	}
}
[class*="__wheels"]{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background: #000;
	padding: 20px;
	border: 5px dotted #ffffff;
	animation: car-wheels 0.3s infinite linear;
}
@keyframes car-wheels {
	0% {
		transform:  rotate(10deg);
	}
	25%{
		transform:  rotate(20deg);
	}
	50% {
		transform:  rotate(30deg);
	}
	75%{
		transform:  rotate(40deg);
	}
	100% {
		transform:  rotate(50deg);
	}
}
	
[class*="__wheels"]:hover{
	transform: rotate(90deg);
}
.header__wheels-left {
	position: relative;
	top: 195px;
	left: 100px;
}
.header__wheels-right {
	position: relative;
	top: 120px;
	left: 350px;

}
.header__wheel{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #ffffff;
}
.header__auto-body {
	width: 500px;
	height: 100px;
	background-color: #ea2323;
	animation:body-color 1s infinite linear;
}
@keyframes body-color {
	50%{
		background-color: #000;
	}
}
.header__auto-roof {
	width: 250px;
	height: 150px;
	background: #f54545;
	transform: translate(125px,-250px);
}
.header__auto-headlight-left {
	width: 20px;
	height: 15px;
	background: #c7e62e;
	transform: translate(10px,-220px);
}
.header__auto-headlight-right {
	width: 20px;
	height: 25px;
	background: #c7e62e;
	transform: translate(480px,-220px);
}
.header__auto-light {
	visibility: hidden;
	position: relative;
	left:40px;
	top: 10px;
	height: 45px;
	width: 65px;
	background: rgba(199, 230, 46, 0.537);
	transform: skew(65deg,0deg);
	transition: all 5s ease 0s;
}
.header__auto-headlight-right:hover .header__auto-light {
	visibility: visible;
}
.header__auto-salon {
	background: #fff;
	width: 230px;
	height: 130px;
	transform: translate(135px,-420px);
	background: rgba(0, 0, 255, 0.203);
}


.main__container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 100px;
}
.main__transition {
	min-height: 500px;
	padding-bottom: 100px;
}
.main__transition-block {
	width: 250px;
	height: 250px;
	background: #8f2222;
	transition: all 0.3s cubic-bezier(.45,2.01,1,-0.02) 0s;
}
.main__transition-block:hover{
	background: #d55b5b;
	visibility: visible;
}
.main__transition-animation {
	width: 250px;
	height: 250px;
	transition: all 0.3s cubic-bezier(.45,2.01,1,-0.02) 0s;
	perspective-origin: center;
	perspective: 400px;
	animation: rotate 5s infinite  forwards;
	margin-bottom: 100px;
}
@keyframes rotate {
	0%{
		transform: translate3d(25px,50px,500px) rotate(50deg);
		background: #e0a0a0;
	}
	50%{
		transform: translate3d(205px,20px,500px) rotate(100deg);
		background: #bb7373;
	}
	100%{
		transform: translate3d(605px,50px,500px)  rotate(180deg);
		background: #b33131;
	}
}