@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap);


body{
	font-family: "Inter", sans-serif;
	font-size: 24px;
	background: #8b7474;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}
.header {
	position: relative;
}
.header__container {
	max-width: 1300px;
	margin: 0px auto;
	padding: 30px 15px;
}
.header__title {
	font-weight: 700;
	font-size: 26px;
	color: #e9d0d0;
}
[class*="-block"]{
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
	background: rgba(236, 8, 8, 0.244);
}
[class*="__text"]{
	font-size: 20px;
	font-weight: 600;
	padding: 50px;
}

.header__transform {
	display: inline-block;
	position: relative;
	top: 100%;
	left: 10%;
}
.header__translate-block:active {
	transform: translate(-140px,-120px);
}
.header__scale-block:hover{
	transform: scale(2);
}
.header__rotate-block {
	transform: rotate(180deg);
}
.header__rotate-block:hover {
	transform: rotate(30deg);
}
.header__skew-block {
	transform: skew(0deg,0deg);
}
.header__skew-block:hover{
	transform: skew(10deg,10deg);
}
.header__matrix-block:hover{
	transform: matrix(2, 1, 0, 1, 20, 20);
}


.header__multi-transform{
	display: inline-block;
	position: relative;
	top: 0;
	left: 30%;
}
.header__transform-origin-block {
	transform-origin: center left;
}
.header__transform-origin-block:active{
	transform: rotate(-90deg);
}
.header__perspective-block {
	perspective-origin: bottom;
	perspective: 500px;
}
.header__perspective{
	width: 200px;
	height: 200px;
	background: rgba(77, 76, 76, 0.399);
}
.header__perspective:hover{
	transform: rotateX(45deg);
}
.header__translate-d-block {
}
.header__scale-d-block {
}
.header__rotate-d-block {
}
.header__matrix-d-block {
}


.header__multid-transform {
	display: inline-block;
	position: relative;
	top: 100%;
	left: 50%;
}
.header__translate-rotate-d {
}
.header__transform-style-block {
}
.header__backface-visibility-block {
}
.header__flip {
}
.header__backface-body {
}
.header__flip-front {
}
.header__flip-back {
}
.main {
}
.main__container {
}