@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Inter:500,600&display=swap);

body{
	font-family: "Inter";
	font-weight: 500;
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
}

.headerblock {
	position: relative;
}
.headerblock__container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 30px 15px;
}
.headerblock__logotype {
	display: inline-block;
	margin-right: 45px;
}
.headerblock__logo {
}
.headerblock__menu {
	display: inline-block;
	margin-right: 45px;
}
.button-menu{
	background: #F4F7FF;
	border-radius: 5px;
	min-width: 172px;
	min-height: 42px;
	padding: 9px 21px;
}
.button-link{
	margin-right: 13px;
}
.button-arrow{
	margin-top: 6px;
}
.menu {
}
.menu__list {

}
.menu__item {

}
.menu__link {

}


.menu__sub-menu {
	display: none;
}
.sub-menu {
}
.sub-menu__item {
}
.sub-menu__link {
}
.sub-menu__fashion-menu {
}


.fashion-menu {
	
}
.fashion-menu__title {
}
.fashion-menu__item {
}
.fashion-menu__link {
}


.headerblock__nav {
	display: inline-block;
	margin-right: 152px;
}
.headerblock__nav-menu {
	
}
.headerblock__nav-item {
	display: inline-block;
}
.headerblock__nav-item:not(:last-child){
	margin-right: 30px;
}
.headerblock__nav-link {
}
.headerblock__icons {
	display: inline-block;
}
.headerblock__icon {
}

.headerblock__icon:not(:last-child){
	margin-right: 21px;
}