@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);

body{
	font-family: "Poppins",sans-serif;
	background: #D9D9D9;
}
.wrapper{
	overflow: clip;
	min-height: 100%;
}
img{
	max-width: 100%;
}

[class*="__container"]{
	max-width: 1250px;
	margin: 0px auto;
	padding: 30px 15px;
}
.header__title {
	position: relative;
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
	margin-bottom: 40px;
	padding-right: 26px;
}
.header__title::after{
	content: "";
	position: absolute;
	width: 464px;
	height: 2px;
	background-color: #000;
	left: 100%;
	top: 50%;
}
.header__column {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.header__row {
	display: flex;
	column-gap: 120px;
	flex-wrap:wrap;
	row-gap: 40px;
}
.header__text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header__subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.41;
	color: #333333;
	margin-bottom: 20px;
}
.header__description {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.61;
	color: #9C9C9C;
	max-width: 334px;
	
}


.main__title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.39;
	color: #000000;
	text-align: center;
	margin-bottom: 40px;
}
.main__subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.61;
	text-align: center;
	color: #000000;
	margin-bottom: 53px;
}
.main__image {
	margin-bottom: 100px;
}
.main__row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px;
	margin-bottom: 82px;
}
.overviev {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.61;
	color: #9C9C9C;
	
}
.overviev__title {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.41;
	color: #333333;
	margin-bottom: 24px;
}
.overviev__text {
	margin-bottom: 30px;
	max-width: 554px;
}
.overviev__row {
	display: flex;
	column-gap: 80px;
}
.overviev--project{
	margin-bottom: 60px;
}
.card {
	display: flex;
	row-gap: 32px;
	flex-wrap: wrap;
}
.card__row {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}