@import url(https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:300&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.button {
  display: inline-block;
  min-width: 175px;
  min-height: 56px;
  border: 2px solid #000000;
  padding: 15px 48px;
}
.button span {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
}

body {
  font-family: "Oswald";
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img {
  width: 100%;
}

[class*=__container] {
  max-width: 1895px;
  padding: 0px 15px;
  margin: 0px auto;
}

.header {
  margin-bottom: 30px;
}

.brands {
  position: relative;
}
.brands__title {
  max-width: 369px;
  margin: 0px auto;
  background: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 68px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 35px;
  color: #000000;
}
.brands__logo {
  border: 2px solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 35px;
  padding: 28px 11px;
}
@media (max-width: 1200px) {
  .brands__logo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.brands__link {
  padding: 0px 32px;
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 235px;
          flex: 0 1 235px;
  height: 141px;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.brands__link:hover {
  background: #F0F2F2;
  z-index: 3;
}
.brands__link:active {
  background: #65a7a7;
}
.brands__image {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.offers .offers__body {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 30px;
}
.offers .offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.offers .offers__item:nth-child(3) {
  grid-column: 2;
  grid-row: 1/span 2;
}
.offers__bg-image {
  grid-column: 1;
  grid-row: 1;
}
.offers__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 7px;
}
.offers__subtitle {
  font-family: "Roboto";
  font-size: 22px;
  line-height: 37px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 51px;
}
.offers_look {
  align-self: center;
  background: rgb(243, 240, 239);
  justify-self: end;
  max-width: 369px;
  padding-right: 61px;
  grid-row: 1;
  grid-column: 1;
}
.offers_style {
  align-se: start;
  background: rgb(247, 224, 213);
  justify-self: start;
  padding-left: 61px;
  grid-row: 2;
  grid-column: 1;
}
.offers_up {
  align-self: start;
  background: rgb(224, 222, 211);
  justify-self: start;
  padding-left: 86px;
  grid-row: 1;
  grid-column: 1;
}