@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

body{
	font-family: "Poppins";
	background: #E5E5E5;
}

[class*="__container"]{
	max-width: 1270px;
	margin: 0px auto;
	padding: 0px 15px 0px;
}
[class*="__link"]{
	margin-right: 25px;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: #C4C4C4;
}
[class*="__link"]:last-child{
	margin-right: 0px;
}
[class*="title"]{
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #212529;
	margin-bottom: 45px;
	max-width: 393px;
}
[class*="__date"]{
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	color: #495057;
}
[class*="__description"]{
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #212529;
}
[class*="trending-date"]{
	color: #E5E5E5;
}
[class*="trending-description"]{
	color: #F8F9FA;
}

.headerblock__container {
	padding: 37px 15px ;
}

.headerblock__nav-page :hover {
	border-bottom: 2px solid #DDBEA9;
}

.headerblock__social-link:last-child {
	border-right: 1px solid #E5E5E5 ;
}

.mainblock__slider {
	background: url('../img/slideback.webp') 0 0 no-repeat;
	margin-bottom: 100px;
}
.mainblock__slider-textblock {
	max-width: 605px;
	margin: 0px auto;
	padding: 192px 0px;
	text-align: center;
}
.mainblock__slider-name {
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	color: #E5E5E5;
	margin-bottom: 15px;
}
.mainblock__slider-text {
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #F8F9FA;
}
.mainblock__content-block {
	margin-bottom: 100px;
}
.mainblock__nav-content{
	margin-bottom: 56px;
}
.mainblock__nav-content a:hover {
	color: #495057;
}
.mainblock__content-card {
	max-width: 393px;
	margin: 0px 30px 40px 0px;
}
.mainblock__card-image {
	margin-bottom: 30px;
}
.mainblock__trending-cards {
	text-align: center;
}

.mainblock__card {
	padding: 315px 0px 50px 0px;
	margin: 30px;
}
.mirror--card {
	background: url('../img/trending/trending-1.webp') 0 0 no-repeat;
}
.mainblock__trending-text {
	max-width: 293px;
	color: #F8F9FA;
}
.vase--card {
	background: url('../img/trending/trending-2.webp') 0 0 no-repeat;
}
.hostel--card {
	background: url('../img/trending/trending-3.webp') 0 0 no-repeat;
}
.sofa--card {
	background: url('../img/trending/trending-4.webp') 0 0 no-repeat;
}
.table--card {
	background: url('../img/trending/trending-5.webp') 0 0 no-repeat;
}


.footerblock {
	background:#212529;
}
.footerblock__container {
	padding: 100px 15px;
}
.footerblock__text {
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	color: rgba(248, 249, 250, 0.5);
}
