@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

body{
	font-family: "Poppins", sans-serif;
	background-color: #e5e5e5;
}
main{
	padding: 50px 0px 50px 0px;
}
h1{
	max-width: 400px;
}
h2{
	max-width: 605px;
}
img{
	border-radius: 5px;
}
[class*="__container"]{
	max-width: 1270px;
	margin: 0px auto;
	padding: 0px 15px 0px 15px;
}
[class*="__title"]{
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
}
[class*="__text-block"]{
	max-width: 816px;
	margin: 0px auto;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.78;
}
[class*="__image-block"]{
	max-width: 1240px;
	margin: 0px auto;
	text-align: center;
	font-size: 0;
}
[class*="secondblock"]{
	margin-bottom: 100px;
}
[class*="__link"]{
	font-size: 25px;
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 5px;
	font-weight: 700;
	text-decoration: underline;
	text-transform: uppercase;
}
.mainblock__text-block{
	margin-bottom: 80px;
}
.mainblock__text-block p {
	margin-bottom: 37px;
	color: #6C757D;
}
.mainblock__title {
	margin-bottom: 40px;
}
.mainblock__image-block {
	margin-bottom: 80px;
}
.image {
	max-width: 100%;
	margin: 0 auto;
}
.image_1 {
	margin-right: 30px;
}
.secondblock__text-block p {
	margin-bottom: 60px;
	color: #6C757D;
}



.thirdblock__text-block{
	margin-bottom: 80px;
	border-bottom: 20px solid #6C757D;
	border-radius: 5%;
}
.thirdblock__text-block p {
	margin-bottom: 37px;
	box-shadow: 0 0 5px #5a606573;
	border-left: 12px solid #6C757D;
	border-radius: 3%;
}
.thirdblock__title {
	margin-bottom: 40px;
	text-shadow: 0 0 2px #000;
	border-top: 4px dashed #6C757D;
}
.thirdblock__image-block {
	margin-bottom: 80px;
	opacity: 50%;
	outline: 25px solid #6C757D;
}
