@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap);


body{
	font-family: "Inter";
	font-size: 16px;
}


.headerblock {
	height: 600px;
	background: url('../img/headerback.png') 0 0 / cover no-repeat;
	border: 1px solid #000000;
	border-radius: 0px 5px 5px 0px;
	font-family: "Poppins";
	color: #E5E5E5;
}
.headerblock__container {
	max-width: 705px;
}
.headerblock__text-block {
	padding: 330px 0px 0px 100px;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.66;
	margin-bottom: 100px;
}
.headerblock__date {
	margin-bottom: 15px;
}
.headerblock__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #F8F9FA;
	margin-bottom: 15px;
}
.headerblock__subtitle{
	margin-bottom: 15px;
}


.mainblock {
	padding: 150px 0px;
	font-weight: 700;
	line-height: 1;
	color: #637381;
	background: #E6E6E6;
}
.mainblock__container {
	max-width: 1170px;
	padding-left: 135px;
}
.mainblock__subtitle {
	font-weight: 400;
	font-size: 26px;
	line-height: 1.07;
	color: #212B36;
	margin-bottom: 45px;
}
.mainblock__list {
	margin-bottom: 100px;
}
.mainblock__list li{
	min-height: 20px;
	margin-bottom: 20px;
	padding: 2px 0px 0px 30px;
	min-height: 20px;
}
.elipse{
	margin-bottom: 60px;
}
.elipse li{
	background: url('../img/iconlist/firstlisticon.png') left no-repeat;
	margin-bottom: 18px;
	padding-left: 18px;
}
.cross-circle li{
	background: url('../img/iconlist/secondlisticon 1.png') left no-repeat;
}
.checkmark-blue li{
	background: url('../img/iconlist/thirdlisticon.png') left no-repeat;
}
.arrow-right li{
	background: url('../img/iconlist/fourlisticon.png') left no-repeat;
}
.checkmark-green li {
	background: url('../img/iconlist/fivelisticon.png') left no-repeat;
	padding-top: 2px;
}
.star li{
	background: url('../img/iconlist/sixlisticon.png') left no-repeat;
	padding-top: 2px;
}


.footerblock {
	background:  linear-gradient(90deg, rgba(48, 86, 211, 0.08) 16.13%, rgba(48, 86, 211, 0) 86.29%), url("../img/speaker.png")  884px 81px  no-repeat, url("../img/vector1.png") 820px no-repeat, url("../img/vector2.png") 905px no-repeat;
}
.footerblock__container {
	padding: 145px 135px 145px;
}
.footer__text-block {
	max-width: 605px;
	margin-bottom: 35px;
}
.footerblock__price {
	margin-bottom: 13px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	color: #3056D3;
}
.footerblock__title {
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.25;
	color: #212B36;
}
.footerblock__text{
	margin-bottom: 15px;
	font-weight: 500;
	line-height: 1.5;
	color: #637381;
}
.footerblock__button {
	width: 139px;
	height: 44px;
	background: #3056D3;
	border-radius: 30px;
}
.footerblock__button-link span {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 600;
	line-height: 1.5;
	color: #FFFFFF;

}