@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Poppins";
  overflow: clip;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1270px;
  padding: 30px 15px;
  margin: 0px auto;
}

.header {
  min-height: 100vh;
  background: url("../img/header/header-back.jpg") 0 0/cover no-repeat;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__image {
  display: inline-block;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: #F8F9FA;
}
.menu__item {
  display: inline-block;
}
.menu__item:not(:last-child) {
  margin-right: 25px;
}
.sub-menu {
  visibility: hidden;
  display: none;
}