@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Poppins";
  min-height: 100%;
}

[class*=__container] {
  max-width: 1270px;
  padding: 40px 15px;
  margin: 0px auto;
}

[class*=__image] {
  border-radius: 3px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
[class*=__image]:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.8;
}

[class*=__img] {
  display: block;
  overflow: hidden;
  margin-bottom: 1.875rem;
}

[class*=__link] {
  position: relative;
}

[class*=__tag] {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 5%;
  padding: 0.1875rem 0.75rem;
  background: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  font-weight: 700;
  font-size: 8px;
  line-height: 20px;
  text-align: center;
  color: #F8F9FA;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
[class*=__tag]:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: rgba(0, 0, 0, 0.558);
}

[class*=__author] {
  border-top: 2px solid #E5E5E5;
  padding-top: 0.9375rem;
}

img {
  max-width: 100%;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  min-height: 100vh;
  background: url("../img/header/header-back.jpg") center center/cover no-repeat;
}
.header__row {
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 27.875em) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__icon {
  padding-top: 7px;
}
.header__text {
  padding-top: 25vmax;
  padding-bottom: 6.25rem;
  max-width: 605px;
}
.header__date {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
}
.header__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #F8F9FA;
}
.header__description {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 1.5625rem;
}
.menu__item {
  position: relative;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 25px;
  color: rgba(248, 249, 250, 0.5);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding-bottom: 0.625rem;
}
.menu__item:not(:last-child) {
  margin-right: 1.5625rem;
}
.menu__item:last-child::after {
  content: "";
  border-right: 2px solid rgba(229, 229, 229, 0.5);
  margin-left: 25px;
}
@media (max-width: 27.875em) {
  .menu__item:last-child::after {
    border-right: none;
    margin-left: 0;
  }
}
.menu__link:hover {
  color: #F8F9FA;
  border-bottom: 2px solid #DDBEA9;
}

.inspiration:hover .inspiration__sub-menu {
  visibility: visible;
  display: block;
}
.sub-menu {
  visibility: hidden;
  display: none;
  position: absolute;
  top: 100%;
  left: -50%;
  background: #212529;
  border-radius: 5px;
  padding: 20px;
  min-width: 136px;
  z-index: 25;
}
.sub-menu__item {
  color: rgba(248, 249, 250, 0.5);
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.sub-menu__item:hover {
  color: #F8F9FA;
}
.courses:hover .courses__sub-menu {
  visibility: visible;
  display: block;
}
.main {
  padding-top: 6.25rem;
}
@media (max-width: 64em) {
  .main {
    padding-top: 1.5625rem;
  }
}

.categories {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #495057;
}
.categories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.75rem;
}
.categories__title {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 25px;
  color: #495057;
}
.categories__column {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 25px;
  color: rgba(73, 80, 87, 0.5);
}
.categories__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.categories__link:hover {
  color: #495057;
}
.categories__link:not(:last-child) {
  margin-right: 1.25rem;
}
.categories__button {
  max-width: 178px;
  display: block;
  margin: 0px auto;
  padding: 0.5625rem 3.125rem;
  background: #212529;
  border-radius: 3px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #F8F9FA;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 6.25rem;
}
.categories__button:hover {
  border: 1px solid #212529;
  background: rgba(255, 255, 255, 0.4235294118);
  color: #212529;
}
.categories__button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.cards {
  margin-bottom: 3.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2.8125rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
@media (max-width: 78.625em) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 52.125em) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
.cards__item {
  max-width: 393px;
}
@media (max-width: 78.625em) {
  .cards__item {
    justify-self: center;
  }
}
.cards__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}
.cards__title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 40px;
  color: #212529;
}

.topics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #212529;
}
@media (max-width: 61.6875em) {
  .topics {
    grid-template-columns: repeat(1, 1fr);
    background: url("../img/topics/topics-back.jpg") 0 0/100% 100% no-repeat;
  }
}
.topics__cards {
  padding: 6.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
}
@media (max-width: 61.6875em) {
  .topics__cards {
    padding: 1.875rem 0;
  }
}
.topics__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  color: #F8F9FA;
}
.topics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 61.6875em) {
  .topics__item {
    background: rgba(33, 37, 41, 0.4470588235);
    padding: 0.625rem;
  }
}
@media (max-width: 32em) {
  .topics__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0.9375rem;
  }
}
.topics__text {
  max-width: 17.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
}
.topics__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #F8F9FA;
}

.trip {
  background: url("../img/topics/topics-back.jpg") 0 0/100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 61.6875em) {
  .trip {
    background: none;
    padding-bottom: 6.25rem;
  }
}
.trip__title {
  max-width: 393px;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #F8F9FA;
}
.trip__subtitle {
  max-width: 393px;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
}

.side {
  padding-top: 6.25rem;
  margin-bottom: 6.25rem;
}
.side__title {
  margin-bottom: 3.75rem;
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  color: #495057;
}
.side__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 3.125rem;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #495057;
}
.side__item {
  max-width: 287px;
}
.side__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}
.side__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #212529;
}

.footer {
  min-height: 12.8125rem;
  background: #212529;
  padding: 2.5rem 0;
}
.footer__row {
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: rgba(248, 249, 250, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 25.625em) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.875rem;
  }
}
.footer__row:nth-child(1) {
  border-bottom: 2px solid rgba(229, 229, 229, 0.2);
  padding-bottom: 2.5rem;
}
.footer__row:nth-child(2) {
  padding-top: 2.5rem;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}