@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

body{
	font-family: "Poppins",sans-serif;
}
p{
	font-weight: 300;
	font-size: 14px;
	line-height: 1.78;
	margin-bottom: 38px;
	color: #6C757D;
}
img{
	max-width: 100%;
	border-radius: 5px;
}
h1{
	max-width: 400px;
}
h2{
	max-width: 605px;
}
[class*="__container"]{
	max-width: 1270px;
	margin: 0 auto;
	padding: 0px 15px 0px;
}
[class*="__text-block"]{
	max-width: 816px;
	margin: 0px auto 80px;
}
[class*="__image-block"]{
	font-size: 0;
	text-align: center;
	margin-bottom: 80px;
}
[class*="__title"]{
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	margin-bottom: 40px;
	color: #212529;
}
[class*="__link"]{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 10px;
	max-width: 200px;
	margin: 0px auto 20px;
	outline: 5px solid #000;
	font-size: 35px;
}
.image1{
	margin-right: 30px;
}


.secondpageblock__text-block {
	margin-bottom: 100px;
}
.secondpageblock__image-block {
	margin-bottom: 100px;
}
.secondfullimage{
	border-radius: 0px;
}

.thirdblock__text-block{
	margin-bottom: 80px;
	border-bottom: 20px solid #6C757D;
	border-radius: 5%;
}
.thirdblock__text-block p {
	margin-bottom: 37px;
	box-shadow: 0 0 5px #5a606573;
	border-left: 12px solid #6C757D;
	border-radius: 3%;
}
.thirdblock__title {
	margin-bottom: 40px;
	text-shadow: 0 0 2px #000;
	border-top: 4px dashed #6C757D;
}
.thirdblock__image-block {
	margin-bottom: 80px;
	opacity: 50%;
	outline: 25px solid #6C757D;
}
