@use"sass:math";

@import "_reset.scss";
@import "_common.scss";
@import "_mixin.scss";

@import url(https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:300&display=swap);

body{
	font-family: "Oswald";
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
img{
	max-width: 100%;
}
[class*="__container"]{
	max-width: 1895px;
	padding: 0px 15px;
	margin: 0px auto;
}

.header {
	font-family: "Oswald";
	padding-top: 30px;
	margin-bottom: 30px;
	&__container {
	}

	&__brands {
	}
}
.brands {
	&__title {
		position: absolute;
		width: 606px;
		height: 45px;
		background: #fff;
		top: -25px;
		text-align: center;
		font-size: 24px;
		line-height: 68px;
		text-transform: uppercase;
		color: #000000;
		z-index: 2;
	}

	&__icons {
		position: relative;
		padding: 29px 11px;
		border: 2px solid #C4C4C4;
		display: flex;
		justify-content: space-evenly;
		align-items: space-evenly;
		row-gap: 35px;
		@media (max-width: 1362px){
			flex-wrap: wrap;
		}
	}

	&__link {
		display: inline-block;
		padding: 59px 39px;
		transition: all 0.5s ease 0s;
		&:not(:last-child) {
			margin-right: 35px;
		}
		&:hover{
			background: #F0F2F2;
		}
	}

	&__image {
	}
}


.main {

	&__container {
	}

	&__offers {
	}
}
.offers {
	margin-bottom: 30px;
	&__cards {
		display: grid;
		grid-template: repeat(2,1fr/ repeat(2,1fr));
		gap: 30px;
		@media (max-width: 1470px){
			grid-template: repeat(3,1fr)/repeat(1,1fr);
		}
	}

	&__card {
		padding: 86px 40px;
		display: flex;
		align-items: center;
		&:nth-child(1){
			background: url('/img/offers/offers-look.jpg') 0 0/cover no-repeat;
			grid-row: 1;
			grid-column: 1;
			justify-content: end;
		}
		&:nth-child(2){
			background: url('/img/offers/offers-up.jpg') center center/cover  no-repeat;
			grid-row: 1/span 2;
			grid-column: 2;
			justify-content: start;
			align-items: end;
			h2{
				max-width: 357px;
				font-size: 96px;
				line-height: 110px;
			}
		}
		&:nth-child(3){
			background: url('/img/offers/offers-style.jpg') 0 0/cover  no-repeat;
			grid-row: 2;
			grid-column: 1;
			justify-content: start;
		}
		&:hover{
			opacity: 0.9;
		}
		@media (max-width: 1470px){
			padding: 30px;
			max-height: 650px;
			&:nth-child(1){
				grid-row: 1;
				grid-column: 1;
			}
			&:nth-child(2){
				padding-top: 230px;
				grid-row: 2;
				grid-column: 1;
			}
			&:nth-child(3){
				grid-row: 3;
				grid-column: 1;
			}
		}

	}

	&__background {

	}

	&__text {
	}

	&__title {
		@include title;
		margin-bottom: 7px;
	}

	&__subtitle {
		@include subtitle;
		margin-bottom: 51px;
	}

	&__button {
	}
}
.button {

	&__text {
	}
}


.main {

	&__shop {
	}
}
.shop {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 30px;
	@media (max-width: 980px){
		grid-template-columns: repeat(1,1fr);
		row-gap: 30px;
	}
	&__category {
		grid-column: 1;
		@media (max-width: 980px){
			grid-row: 1;
			grid-column: 1;
		}
	}

	&__cards {
		grid-column: 2/span2;
		@media (max-width: 980px){
			grid-row: 2;
			grid-column: 1;
		}
	}
}
.category {
	border-right: 2px solid #C4C4C4;
	@media (max-width: 980px){
		border-right: none;
		border-bottom: 2px solid #C4C4C4;
	}
	&__form {
		@media (max-width: 980px){
			display: flex;
			gap: 10px;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	&__title {
		margin-bottom: 31px;
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 68px;
		color: #000000;
		@media (max-width: 980px){
			margin: 0px auto;
		}
	}

	&__checkbox-block{
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__input {
		visibility: hidden;
		display: none;
	}

	&__label {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 16px;
		color: #3F3F3F;
		text-transform: uppercase;
		&::before{
			content:'';
			display: inline-block;
			height: 10px;
			width: 10px;
			border: 1px solid #828282;
			margin-right: 9px;
		}
	}

	&__text {
	}
	.category__input:checked+ .category__label::before{
		background: url('/img/icons/checkbox-arrow.svg') center no-repeat;
		color: #000;
	}
	.category__input:checked+ .category__label{
		color: #000;
	}
}


.shop {

	&__cards {
		
	}

	&__card {
	}
}
.cards {
	display: grid;
	grid-template: repeat(2,1fr)/repeat(4,1fr);
	gap: 30px;
	@media (max-width: 670px){
		grid-template: repeat(3,1fr)/repeat(3,1fr);
	}
	@media (max-width: 505px){
		grid-template: repeat(4,1fr)/repeat(2,1fr);
	}

	&__link {
		position: relative;
	}

	&__image {
		margin-bottom: 14px;
	}

	&__sales {
		position: absolute;
		top: 15px;
		left: 0px;
		width: 40px;
		height: 20px;
		background: #000;
		text-align: center;
	}

	&__discount {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: #FFFFFF;
	}

	&__text {
		position: relative;
	}

	&__title {
		font-family: 'Oswald';
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		text-transform: uppercase;
		color: #BDBDBD;
	}

	&__description {
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
		color: #000000;
		margin-bottom: 10px;
	}
	&__price-row{
		display: flex;
		justify-content: space-between;
		@media (max-width: 1454px){
			flex-wrap: wrap;
		}
	}
	&__price {
		font-family: 'Oswald';
		font-weight: 500;
		font-size: 22px;
		line-height: 33px;
		text-transform: uppercase;
	}
	&__old-price{
		text-decoration: line-through;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		text-transform: uppercase;
		color: #828282;
	}
	&__red{
		color: #EB5757;
	}
	&__row-sales {

		width: 40px;
		height: 20px;
		background: #000;
		text-align: center;
	}
}
