@use"sass:math";

@import "_reset.scss";
@import "_common.scss";
@import "_mixin.scss";

@import url(https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:300&display=swap);

body{
	font-family: "Oswald";
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
img{
	width: 100%;
}
[class*="__container"]{
	max-width: 1895px;
	padding: 0px 15px;
	margin: 0px auto;
}

.header {
	margin-bottom: 30px;
}
.brands {
	position: relative;
	&__title {
		max-width: 369px;
		margin: 0px auto;
		background: #ffffff;
		font-weight: 400;
		font-size: 24px;
		line-height: 68px;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		top: 35px;
		color: #000000;
	}

	&__logo {
		border: 2px solid #C4C4C4;
		display: flex;
		justify-content: space-around;
		gap: 35px;
		padding: 28px 11px;
		@media (max-width: 1200px){
			flex-wrap: wrap;
			align-items: center;
		}
	}

	&__link {
		padding: 0px 32px;
		position: relative;
		z-index: 2;
		flex: 0 1 235px;
		height: 141px;
		text-align: center;
		vertical-align: middle;
		display: flex;
		align-items: center;
		justify-content: space-around;
		transition: all 0.5s ease 0s;
		&:hover{
			background: #F0F2F2;
			z-index: 3;
		}
		&:active{
			background: #65a7a7;
		}
	}

	&__image {
		justify-content: space-around;
		align-items: center;
		display: block;
		object-fit: cover;
	}
}



.offers {
	margin-bottom: 30px;
	&_look {
		bottom: 5%;
		right: 5%;
		text-align: right;
		max-width: 221px;
	}

	&_style {
		bottom: 5%;
		left: 5%;
	}

	&_up {
		bottom: 5%;
		left: 5%;
	}

	&__body {
		display: grid;
		grid-template: repeat(2,1fr)/repeat(2,1fr);
		gap: 30px;
		@media (max-width: 1304px){
			grid-template-columns: repeat(1,1fr);
			grid-template-rows: repeat(1,1fr);
		}
	}
	&__item {
		position: relative;
		&:hover{
			opacity: 0.8;
		}
		&:nth-child(1){}
		&:nth-child(2){}
		&:nth-child(3){
			h3{
				font-size: 96px;
				line-height: 110px;
				@media (max-width: 650px){
					font-size: 16px;
					line-height: 16px;
				}
			}
			grid-column: 2;
			grid-row: 1 /span 2;
		}
		@media (max-width: 1304px){
			&:nth-child(1){
				grid-row: 1;
				grid-column: 1;
			}
			&:nth-child(2){
				grid-row: 3;
				grid-column: 1;
			}
			&:nth-child(3){
				grid-column: 1;
				grid-row: 2 ;
			}
		}
	}
	&__text {
		position: absolute;
		z-index: 2;
		@media (max-width: 650px){
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__title {
		@include title;
		margin-bottom: 7px;
		@media (max-width: 650px){
			margin-bottom: 2px;
			font-size: 12px;
			line-height: 16px;
		}
	}

	&__subtitle {
		@include subtitle;
		margin-bottom: 51px;
		@media (max-width: 650px){
			margin-bottom: 5px;
			font-size: 12px;
		}
	}

	&__button {
		transition: all 0.6s ease 0s;
		&:hover{
			background: #000;
			span{
				color: #F0F2F2;
			}
		}
		&:active{
			transform: scale(0.7);
		}
	}
}



.main {

	&__shop {
	}
}
.shop {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	&__category {
	}

	&__cards {
		grid-column: 2/span2;
	}
}
.category {

	&__title{

	}

	&__form {
	}

	&__checkbox {
	}

	&__input {
	}

	&__label {
	}

	&__text {
	}
}
.cards {
	display: grid;
	grid-template: repeat(2,1fr)/repeat(4,1fr);
	column-gap: 26px;
	row-gap: 46px;
	&__item {
	}

	&__link {
	}

	&__image {
	}

	&__text {
	}

	&__tag {
	}

	&__description {
	}

	&__price {
	}

	&__sales {
	}
}
