@use"sass:math";

@import "_reset.scss";
@import "_common.scss";
@import "_mixins.scss";

@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

body{
	font-family: "Poppins";
	min-height: 100%;
}
[class*="__container"]{
	max-width: 1270px;
	padding: 30px 15px;
	margin: 0px auto;
}
img{
	max-width: 100%;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

.header {
	min-height: 100vh;
	background: url('../img/header/header-back.jpg') center center/cover no-repeat;
		&__container {
			
		}
		&__logo{

		}
		&__row {
			padding-top: 20px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			@media (max-width: em(446)){
				flex-direction: column;
			}
		}

		&__icon {
			padding-top: 7px;
		}

		&__image {
		}

		&__block {
		}

		&__menu {
		}
}
.menu {
	display: flex;
		&__list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-right: rem(25);
		}

		&__item {
			position: relative;
			font-weight: 500;
			font-size: rem(12);
			line-height: 25px;
			color: rgba(248, 249, 250, 0.5);
			transition: all 0.5s ease 0s;
			padding-bottom: rem(10);
			&:not(:last-child) {
				margin-right: rem(25);
			}
			&:last-child{
				&::after{
					content:'';
					border-right: 2px solid rgba(229, 229, 229, 0.5);
					margin-left: 25px;
					@media (max-width: em(446)){
						border-right: none;
						margin-left: 0;
					}
				}
			}
		}

		&__link {
			&:hover{
				color: #F8F9FA;
				border-bottom: 2px solid #DDBEA9;
			}
		}
}
.inspiration {
		&:hover &__sub-menu{
			visibility: visible;
			display: block;
		}
		&__sub-menu {
		}
}
.sub-menu {
	visibility: hidden;
	display: none;
	position: absolute;
	top: 100%;
	left: -50%;
	background: #212529;
	border-radius: 5px;
	padding: 20px;
	min-width: 136px;
	z-index: 25;
		&__list {
		}

		&__item {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
			color: rgba(248, 249, 250, 0.5);
			&:hover{
				color: #F8F9FA;
			}
		}

		&__link {
		}
}
.courses {
	&:hover &__sub-menu{
		visibility: visible;
		display: block;
	}
		&__sub-menu {
		}
}

.header {

	&__text {
		padding-top: 25vmax;
		padding-bottom: rem(100);
		max-width: 605px;

	}

	&__date {
		font-weight: 300;
		font-size: 12px;
		line-height: 20px;
		color: #E5E5E5;
	}

	&__title {
		font-weight: 700;
		font-size: 25px;
		line-height: 40px;
		color: #F8F9FA;
	}

	&__description {
		font-weight: 300;
		font-size: 12px;
		line-height: 20px;
		color: #E5E5E5;
	}
}



.main {
	padding-top: rem(100);
	@media (max-width: em(1024)){
		padding-top: rem(25);
	}
		&__container {
		}
}
.footer {

		&__container {
		}
}



.main {

	&__container {
	}

	&__categories {
	}
}
.categories {
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	color: #495057;
	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(44);
	}

	&__title {
		font-weight: 500;
		font-size: rem(12);
		line-height: 25px;
		color: #495057;
	}

	&__column {
		font-weight: 500;
		font-size: rem(12);
		line-height: 25px;
		color: rgba(73, 80, 87, 0.5);
	}

	&__link {
		transition: all 0.3s ease 0s;
		&:hover{
			color: #495057;
		}
		&:not(:last-child) {
			margin-right: rem(20);
		}
	}

	&__cards {
	}
}
.cards {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
	row-gap: rem(45);
	column-gap: rem(30);
	@media (max-width: em(1258)){
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(3,1fr);
	}
	@media (max-width: em(834)){
		grid-template-columns: repeat(1,1fr);
		grid-template-rows: repeat(1,1fr);
	}
	&__item {
		max-width: 393px;
		@media (max-width: em(1258)){
			justify-self: center;
			
		}
	}
	&__img{
		display: block;
		overflow: hidden;
		margin-bottom: rem(30);
	}
	&__link {
		position: relative;
		height: 250px;
	}

	&__image {
		background: #C4C4C4;
		border-radius: 3px;
		transition: all 0.5s ease 0s;
		&:hover{
			transform:scale(1.2);
			opacity: 0.8;
		}
	}

	&__tag {
		position: absolute;
		top: 100%;
		right: 5%;
		padding: rem(3) rem(12);
		background: rgba(33, 37, 41, 0.3);
		border-radius: 3px;
		font-weight: 700;
		font-size: 8px;
		line-height: 20px;
		text-align: center;
		color: #F8F9FA;
		transition: all 0.2s ease 0s;
		&:hover{
			transform: scale(1.1);
			background: rgba(0, 0, 0, 0.558);
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		row-gap: rem(15);
	}
	&__date {
	}

	&__title {
		font-weight: 700;
		font-size: rem(25);
		line-height: 40px;
		color: #212529;
	}

	&__description {
	}

	&__author {
		border-top: 2px solid #E5E5E5;
		padding-top: rem(15);
	}
}
